.input-field {
  align-items: flex-start;
  flex-direction: column;
  position: relative;
}

.input-field .class-10 {
  box-shadow: var(--shadow-xs-focused-4px-primary-100) !important;
  text-shadow: 0px 0px 0px 4px #f4ebff !important;
}

.input-field .class-11 {
  box-shadow: var(--shadow-xs-focused-4px-error-100) !important;
  text-shadow: 0px 0px 0px 4px #fee3e1 !important;
}

.input-field .class-12 {
  color: var(--gray-900) !important;
}

.input-field .class-13 {
  color: var(--gray-900) !important;
  flex: unset !important;
  width: 195px !important;
}

.input-field .class-14 {
  gap: unset !important;
  justify-content: space-between !important;
}

.input-field .class-15 {
  border-color: var(--brand-300) !important;
  box-shadow: var(--focus-ring-4px-primary-100) !important;
}

.input-field .class-16 {
  box-shadow: var(--focus-ring-4px-error-100) !important;
}

.input-field .class-17 {
  box-shadow: var(--focus-ring-4px-error-100) !important;
  gap: unset !important;
  justify-content: space-between !important;
}

.input-field .class-18 {
  background-image: url(../../../static/img/help-circle.svg) !important;
  position: relative !important;
}

.input-field .class-19 {
  background-image: url(../../../static/img/help-circle-1.svg) !important;
  position: relative !important;
}

.input-field .class-20 {
  background-image: url(../../../static/img/help-circle-2.svg) !important;
  position: relative !important;
}

.input-field .class-21 {
  background-image: url(../../../static/img/help-circle-3.svg) !important;
  position: relative !important;
}

.input-field .class-22 {
  background-image: url(../../../static/img/help-circle-4.svg) !important;
  position: relative !important;
}

.input-field .class-23 {
  background-image: url(../../../static/img/help-circle-5.svg) !important;
  position: relative !important;
}

.input-field .class-24 {
  background-image: url(../../../static/img/help-circle-6.svg) !important;
  position: relative !important;
}

.input-field .class-25 {
  background-image: url(../../../static/img/help-circle-7.svg) !important;
  position: relative !important;
}

.input-field .class-26 {
  background-image: url(../../../static/img/help-circle-8.svg) !important;
  position: relative !important;
}

.input-field .class-27 {
  background-image: url(../../../static/img/help-circle-9.svg) !important;
  position: relative !important;
}

.input-field .class-28 {
  background-image: url(../../../static/img/help-circle-10.svg) !important;
  position: relative !important;
}

.input-field .class-29 {
  background-image: url(../../../static/img/help-circle-11.svg) !important;
  position: relative !important;
}

.input-field .class-30 {
  background-image: url(../../../static/img/help-circle-12.svg) !important;
  position: relative !important;
}

.input-field .class-31 {
  background-image: url(../../../static/img/help-circle-13.svg) !important;
  position: relative !important;
}

.input-field .class-32 {
  background-image: url(../../../static/img/help-circle-14.svg) !important;
  position: relative !important;
}

.input-field .class-33 {
  background-image: url(../../../static/img/help-circle-15.svg) !important;
  position: relative !important;
}

.input-field .class-34 {
  background-image: url(../../../static/img/help-circle-16.svg) !important;
  position: relative !important;
}

.input-field .class-35 {
  background-image: url(../../../static/img/help-circle-17.svg) !important;
  position: relative !important;
}

.input-field .class-36 {
  background-image: url(../../../static/img/help-circle-18.svg) !important;
  position: relative !important;
}

.input-field .class-37 {
  background-image: url(../../../static/img/help-circle-19.svg) !important;
  position: relative !important;
}

.input-field .class-38 {
  background-image: url(../../../static/img/help-circle-20.svg) !important;
  position: relative !important;
}

.input-field .class-39 {
  background-image: url(../../../static/img/help-circle-21.svg) !important;
  position: relative !important;
}

.input-field .class-40 {
  background-image: url(../../../static/img/help-circle-22.svg) !important;
  position: relative !important;
}

.input-field .class-41 {
  background-image: url(../../../static/img/help-circle-23.svg) !important;
  position: relative !important;
}

.input-field .class-42 {
  background-image: url(../../../static/img/help-circle-24.svg) !important;
  position: relative !important;
}

.input-field .class-43 {
  background-image: url(../../../static/img/help-circle-25.svg) !important;
  position: relative !important;
}

.input-field .class-44 {
  background-image: url(../../../static/img/help-circle-26.svg) !important;
  position: relative !important;
}

.input-field .class-45 {
  background-image: url(../../../static/img/help-circle-27.svg) !important;
  position: relative !important;
}

.input-field .class-46 {
  background-image: url(../../../static/img/help-circle-28.svg) !important;
  position: relative !important;
}

.input-field .class-47 {
  background-image: url(../../../static/img/help-circle-29.svg) !important;
  position: relative !important;
}

.input-field .class-48 {
  background-image: url(../../../static/img/help-circle-30.svg) !important;
  position: relative !important;
}

.input-field .class-49 {
  background-image: url(../../../static/img/help-circle-31.svg) !important;
  position: relative !important;
}

.input-field .class-50 {
  background-image: url(../../../static/img/help-circle-32.svg) !important;
  position: relative !important;
}

.input-field .class-51 {
  background-image: url(../../../static/img/help-circle-33.svg) !important;
  position: relative !important;
}

.input-field .class-52 {
  background-image: url(../../../static/img/help-circle-34.svg) !important;
  position: relative !important;
}

.input-field .class-53 {
  background-image: url(../../../static/img/help-circle-35.svg) !important;
  position: relative !important;
}

.input-field .class-54 {
  background-image: url(../../../static/img/help-circle-36.svg) !important;
  position: relative !important;
}

.input-field .class-55 {
  background-image: url(../../../static/img/help-circle-37.svg) !important;
  position: relative !important;
}

.input-field .class-56 {
  background-image: url(../../../static/img/help-circle-38.svg) !important;
  position: relative !important;
}

.input-field .class-57 {
  background-image: url(../../../static/img/help-circle-39.svg) !important;
  position: relative !important;
}

.input-field .class-58 {
  background-image: url(../../../static/img/help-circle-40.svg) !important;
  position: relative !important;
}

.input-field .class-59 {
  background-image: url(../../../static/img/help-circle-41.svg) !important;
  position: relative !important;
}

.input-field .class-60 {
  background-image: url(../../../static/img/help-circle-42.svg) !important;
  position: relative !important;
}

.input-field .class-61 {
  background-image: url(../../../static/img/help-circle-43.svg) !important;
  position: relative !important;
}

.input-field .class-62 {
  background-image: url(../../../static/img/help-circle-44.svg) !important;
  position: relative !important;
}

.input-field .class-63 {
  background-image: url(../../../static/img/help-circle-45.svg) !important;
  position: relative !important;
}

.input-field .class-64 {
  background-image: url(../../../static/img/help-circle-46.svg) !important;
  position: relative !important;
}

.input-field .class-65 {
  background-image: url(../../../static/img/help-circle-47.svg) !important;
  position: relative !important;
}

.input-field .class-66 {
  background-image: url(../../../static/img/help-circle-48.svg) !important;
  position: relative !important;
}

.input-field .class-67 {
  background-image: url(../../../static/img/help-circle-49.svg) !important;
  position: relative !important;
}

.input-field .class-68 {
  background-image: url(../../../static/img/help-circle-50.svg) !important;
  position: relative !important;
}

.input-field .class-69 {
  background-image: url(../../../static/img/help-circle-51.svg) !important;
  position: relative !important;
}

.input-field .class-70 {
  background-image: url(../../../static/img/help-circle-52.svg) !important;
  position: relative !important;
}

.input-field .class-71 {
  background-image: url(../../../static/img/help-circle-53.svg) !important;
  position: relative !important;
}

.input-field .class-72 {
  background-image: url(../../../static/img/help-circle-54.svg) !important;
  position: relative !important;
}

.input-field .class-73 {
  background-image: url(../../../static/img/help-circle-55.svg) !important;
  position: relative !important;
}

.input-field .class-74 {
  background-image: url(../../../static/img/help-circle-56.svg) !important;
  position: relative !important;
}

.input-field .class-75 {
  background-image: url(../../../static/img/help-circle-57.svg) !important;
  position: relative !important;
}

.input-field .class-76 {
  background-image: url(../../../static/img/help-circle-58.svg) !important;
  position: relative !important;
}

.input-field .class-77 {
  background-image: url(../../../static/img/help-circle-59.svg) !important;
  position: relative !important;
}

.input-field .class-78 {
  background-image: url(../../../static/img/help-circle-60.svg) !important;
  position: relative !important;
}

.input-field .class-79 {
  background-image: url(../../../static/img/help-circle-61.svg) !important;
  position: relative !important;
}

.input-field .class-80 {
  background-image: url(../../../static/img/help-circle-62.svg) !important;
  position: relative !important;
}

.input-field .class-81 {
  background-image: url(../../../static/img/help-circle-63.svg) !important;
  position: relative !important;
}

.input-field .class-82 {
  background-image: url(../../../static/img/help-circle-64.svg) !important;
  position: relative !important;
}

.input-field .class-83 {
  background-image: url(../../../static/img/help-circle-65.svg) !important;
  position: relative !important;
}

.input-field .class-84 {
  background-image: url(../../../static/img/help-circle-66.svg) !important;
  position: relative !important;
}

.input-field .class-85 {
  background-image: url(../../../static/img/help-circle-67.svg) !important;
  position: relative !important;
}

.input-field .class-86 {
  background-image: url(../../../static/img/help-circle-68.svg) !important;
  position: relative !important;
}

.input-field .class-87 {
  background-image: url(../../../static/img/help-circle-69.svg) !important;
  position: relative !important;
}

.input-field .class-88 {
  background-image: url(../../../static/img/help-circle-70.svg) !important;
  position: relative !important;
}

.input-field .class-89 {
  background-image: url(../../../static/img/help-circle-71.svg) !important;
  position: relative !important;
}

.input-field .class-90 {
  background-image: url(../../../static/img/help-circle-72.svg) !important;
  position: relative !important;
}

.input-field .class-91 {
  background-image: url(../../../static/img/help-circle-73.svg) !important;
  position: relative !important;
}

.input-field .class-92 {
  background-image: url(../../../static/img/help-circle-74.svg) !important;
  position: relative !important;
}

.input-field .class-93 {
  background-image: url(../../../static/img/help-circle-75.svg) !important;
  position: relative !important;
}

.input-field .input-field-base-instance {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  width: 100% !important;
}

.input-field .mail-56 {
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}

.input-field.type-3-default {
  display: flex;
  width: 320px;
}

.input-field.type-3-trailing-dropdown {
  display: flex;
  width: 320px;
}

.input-field.state-0-placeholder.type-3-leading-text {
  display: flex;
  width: 320px;
}

.input-field.help-icon-true.state-0-filled {
  display: flex;
  width: 320px;
}

.input-field.hint-text-true.state-0-filled {
  display: flex;
  width: 320px;
}

.input-field.type-3-leading-dropdown.state-0-filled {
  display: flex;
  width: 320px;
}

.input-field.state-0-focused.hint-text-true {
  display: flex;
  width: 320px;
}

.input-field.state-0-placeholder.label-false {
  display: flex;
  width: 320px;
}

.input-field.destructive-2-false.hint-text-true {
  display: flex;
  width: 320px;
}

.input-field.label-false.type-3-leading-dropdown {
  display: flex;
  width: 320px;
}

.input-field.type-3-payment-input.state-0-filled {
  display: flex;
  width: 320px;
}

.input-field.help-icon-true.type-3-leading-dropdown {
  display: flex;
  width: 320px;
}

.input-field.state-0-focused.type-3-leading-dropdown {
  display: flex;
  width: 320px;
}

.input-field.state-0-placeholder.hint-text-true {
  display: flex;
  width: 320px;
}

.input-field.destructive-2-false.type-3-input-field {
  display: flex;
  width: 320px;
}

.input-field.state-0-placeholder.destructive-2-false {
  display: flex;
  width: 320px;
}

.input-field.state-0-placeholder.type-3-leading-dropdown {
  display: flex;
  width: 320px;
}

.input-field.state-0-focused.type-3-payment-input {
  display: flex;
  width: 320px;
}

.input-field.destructive-2-false.type-3-leading-dropdown {
  display: flex;
  width: 320px;
}

.input-field.state-0-placeholder.help-icon-true {
  display: flex;
  width: 320px;
}

.input-field.type-3-leading-dropdown.hint-text-true {
  display: flex;
  width: 320px;
}

.input-field.type-3-leading-text.hint-text-true {
  display: flex;
  width: 320px;
}

.input-field.state-0-focused.label-false.type-3-input-field {
  display: flex;
  width: 320px;
}

.input-field.state-0-focused.help-icon-true.destructive-2-false {
  display: flex;
  width: 320px;
}

.input-field.help-icon-true.destructive-2-false.type-3-leading-text {
  display: flex;
  width: 320px;
}

.input-field.state-0-focused.label-false.destructive-2-false {
  display: flex;
  width: 320px;
}

.input-field.state-0-focused.help-icon-true.label-true {
  display: flex;
  width: 320px;
}

.input-field.state-0-focused.help-icon-false.label-false {
  display: flex;
  width: 320px;
}

.input-field.destructive-2-true.type-3-leading-text.label-true {
  display: flex;
  width: 320px;
}

.input-field.label-true.type-3-leading-text.state-0-disabled {
  display: flex;
  width: 320px;
}

.input-field.destructive-2-false.label-true.state-0-filled {
  display: flex;
  width: 320px;
}

.input-field.help-icon-true.label-true.type-3-leading-text {
  display: flex;
  width: 320px;
}

.input-field.destructive-2-false.label-true.state-0-disabled {
  display: flex;
  width: 320px;
}

.input-field.label-true.type-3-leading-text.state-0-filled {
  display: flex;
  width: 320px;
}

.input-field.label-false.state-0-filled.type-3-input-field {
  display: flex;
  width: 320px;
}

.input-field.state-0-focused.help-icon-true.type-3-input-field {
  display: flex;
  width: 320px;
}

.input-field.type-3-payment-input.destructive-2-false.label-true {
  display: flex;
  width: 320px;
}

.input-field.help-icon-true.label-true.hint-text-false {
  display: flex;
  width: 320px;
}

.input-field.destructive-2-false.help-icon-true.label-true {
  display: flex;
  width: 320px;
}

.input-field.hint-text-false.type-3-payment-input.label-true.state-0-disabled {
  display: flex;
  width: 320px;
}

.input-field.type-3-payment-input.label-false.hint-text-false.state-0-disabled {
  display: inline-flex;
}

.input-field.state-0-focused.help-icon-false.destructive-2-true.type-3-leading-text {
  display: flex;
  width: 320px;
}

.input-field.help-icon-false.label-false.hint-text-false.state-0-disabled.type-3-leading-text {
  display: inline-flex;
}

.input-field.help-icon-false.label-false.hint-text-false.state-0-filled.type-3-leading-text {
  display: inline-flex;
}

.input-field.help-icon-false.destructive-2-true.hint-text-false.type-3-payment-input.state-0-placeholder.label-true {
  display: inline-flex;
}

.input-field.label-false.hint-text-false.destructive-2-true.state-0-focused.help-icon-true.type-3-leading-text {
  display: inline-flex;
}

.input-field.help-icon-false.hint-text-false.state-0-focused.destructive-2-false.label-true.type-3-leading-text {
  display: inline-flex;
}
